<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/contact/background-pebble-stack.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Contact</h1>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Get in touch</h2>
                    <h4 class="text-center description">Johannesburg Office Phone: +27 11 453 4001</h4>
                    <h4 class="text-center description">Sydney Office Phone: +61 414 405 502</h4>
                    <form [formGroup]="contactForm" class="contact-form"  (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" style="border: 1px solid #DDDDDD;" class="form-control {{nameCss}}" placeholder="Name" id="name" name="name" formControlName="name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" style="border: 1px solid #DDDDDD;" class="form-control {{emailCss}}" placeholder="Email" id="email" name="email" formControlName="email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Phone Number</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="nc-icon nc-mobile"></i></span>
                                      </div>
                                    <input type="text" style="border: 1px solid #DDDDDD;" class="form-control" placeholder="Phone Number" id="phone" name="phone" formControlName="phone" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us what you need..." id="message" name="message" formControlName="message" ></textarea>
                        <div class="row">
                            <!-- <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-info btn-round btn-lg">Send Message</button>
                            </div> -->
                            <div class="col-md-4 mr-auto ml-auto text-center">
                                <button *ngIf="!loading" class="btn btn-info btn-round btn-lg">Send Message</button>                              
                                <button *ngIf="loading" class="btn btn-info btn-round btn-lg" disabled>
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Offices</h2>
                </div>
                <div class="col-md-8 mr-auto ml-auto">
                    <iframe src="https://snazzymaps.com/embed/548628" width="90%" height="300px" style="border:none;"></iframe>
                </div>
                <div class="col-md-4 mr-auto ml-auto text-left">
                    <h5 class="description">Our head office is located out of 43 St Margaret Road, Edenvale, Gauteng, Johannesburg.</h5>
                    <h5 class="description">Phone: +27 11 453 4001</h5>
                    <h5 class="description">Email:</h5>
                    <h5 class="description"><b><a href="mailto:hilton@orkinbrown.co.za?subject=Hi!">hilton&#64;orkinbrown.co.za</a></b></h5>
                    <h5 class="description"><b><a href="mailto:grant@orkinbrown.co.za?subject=Hi!">grant&#64;orkinbrown.co.za</a></b></h5>
                    <br/>
                    <h5 class="description">We also have a presence in Sydney, Australia.</h5>
                    <h5 class="description">Phone: +61 414 405 502</h5>
                    <h5 class="description">Email:</h5>
                    <h5 class="description"><b><a href="mailto:hilton@orkinbrown.co.za?subject=Hi!">hilton&#64;orkinbrown.co.za</a></b></h5>
                    <h5 class="description"><b><a href="mailto:chloe@orkinbrown.co.za?subject=Hi!">chloe&#64;orkinbrown.co.za</a></b></h5>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>

</div>
