.job-card {
    color: #fff;
    // background: #1e2654;
    background: #385061;
    padding: 20px;
    margin-bottom: 20px;
}

h4, .h4 {
    margin: 0px;
}

ul {
    list-style: none;
    // list-style-position: inside;
}

.job-subheading {
    margin-bottom: 20px;
}