<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/home/background-beach.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Orkin Brown & Associates Inc.</h1>
            <h3>Registered Auditors & Chartered Accountants (SA)</h3>
            <br />
            <a href="#/contact" class="btn btn-outline-neutral btn-lg btn-round"><i class="fa fa-phone-square"></i>Get in touch</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">About Us</h2>
                <h5>Orkin Brown and Associates is an audit, accounting and tax practice based out of 43 St Margaret Road, Edenvale, Gauteng.</h5>
                <h5>The practice is registered with the Independent Regulatory Board for Auditors (IRBA). It is also an accredited training office with the South African Institute of Chartered Accountants (SAICA).</h5>
                <h5>Orkin Brown and Associates performs independent audit, independent reviews as well as compilation reports for a wide range of clients across various industries.</h5>
                <br>
                <a href="#about" class="btn btn-info btn-round"><i class="fa fa-info-circle"></i>Learn More</a>
            </div>
        </div>

    </div>
</div>

<div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Services</h2>
                <h5 class="description">Orkin Brown and Associates offer a range of services for our clients.</h5>
                <br>
            </div>
        </div>
        <br/><br/>
        <div class="row">

            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-single-copy-04"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Auditing</h4>
                        <p class="description">A small blurb to do with auditing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Accounting</h4>
                        <p class="description">A small blurb to do with accounting.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-chart-pie-36"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Tax</h4>
                        <p class="description">A small blurb to do with taxation.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-single-02"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Advisory</h4>
                        <p class="description">A small blurb to do with advisory.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-glasses-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Reviews</h4>
                        <p class="description">A small blurb to do with reviews.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-money-coins"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Payroll</h4>
                        <p class="description">A small blurb to do with payroll services.</p>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-8 mr-auto ml-auto">
                <a href="#services" class="btn btn-info btn-round"><i class="fa fa-briefcase"></i>See our services</a>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Meet our partners</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/home/hilton.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Hilton Orkin</h4>
                                <h6 class="card-category">Partner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Lil' H.
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/home/" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Tyson Orkin</h4>
                                <h6 class="card-category">Partner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        He will sniff out your tax return.
                        </p>
                    </div>
                </div>
            </div> -->

            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/home/tysie.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Grant Brown</h4>
                                <h6 class="card-category">Partner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Howdy, partner!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <br /> -->
        <!-- <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <a href="#team" class="btn btn-neutral btn-round"><i class="fa fa-users"></i>Meet the team</a>
            </div>
        </div> -->
    </div>
</div>

<div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">See some testimonials</h2>
                <h5 class="description">Don't take our word for it. See some of our customer testimonials.</h5>
                <br>
                <a href="#testimonials" class="btn btn-info btn-round"><i class="fa fa-comments-o"></i>Testimonials</a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="section landing-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Get in touch</h2>
                    <h5 class="description">Want to get in touch? Contact us via phone, web form, or see our office locations.</h5>
                    <br>
                    <a href="#contact" class="btn btn-info btn-round"><i class="fa fa-phone-square"></i>Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
