<nav class="navbar navbar-expand-lg bg-info fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/']"><img src="./assets/img/nav/logo-white.png" alt="Orkin Brown logo"></a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/jobs']" class="nav-link" style="color: #f9f871;"><i class="nc-icon nc-alert-circle-i important"></i>We're Hiring</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/about']" class="nav-link"><i class="nc-icon nc-circle-10"></i>About Us</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/services']" class="nav-link"><i class="nc-icon nc-ruler-pencil"></i>Services</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/team']" class="nav-link"><i class="nc-icon nc-badge"></i>Team</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/testimonials']" class="nav-link"><i class="nc-icon nc-satisfied"></i>Testimonials</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contact']" class="nav-link"><i class="nc-icon nc-email-85"></i>Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on LinkedIn" data-placement="bottom" href="https://www.linkedin.com/company/orkin-brown-and-assoc/" target="_blank">
                        <i class="fa fa-linkedin-square"></i>
                        <p class="d-lg-none">LinkedIn</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/profile.php?id=100054344299467" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
