<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/orkinbrown/home/background-giraffes.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Orkin Brown & Associates</h1>
            <h3>Experience and passion.</h3>
            <br />
            <a href="#ob/contact" class="btn btn-outline-neutral btn-round"><i class="fa fa-phone-square"></i>Get in touch</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">A little about us</h2>
                <h5 class="description">Orkin Brown and Associates is an audit, accounting and tax practice based out of 43 St Margaret Road, Edenvale, Gauteng. The practice is registered with the Independent Regulatory Board for Auditors (IRBA). It is also an accredited training office with the South African Institute of Chartered Accountants (SAICA). Orkin Brown and Associates performs independent audit, independent reviews as well as compilation reports for a wide range of clients across various industries.</h5>
                <br>
                <a href="#ob/about" class="btn btn-info btn-round">Learn more</a>
            </div>
        </div>

    </div>
</div>

<div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">What we do</h2>
                <h5 class="description">Orkin Brown and Associates offer a range of services for our clients.</h5>
                <br>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Accounting</h4>
                        <p class="description">A small blurb to do with accounting.</p>
                        <a href="#ob/services" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Taxation</h4>
                        <p class="description">A small blurb to do with taxation.</p>
                        <a href="#ob/services" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Auditing</h4>
                        <p class="description">A small blurb to do with auditing.</p>
                        <a href="#ob/services" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Advisory</h4>
                        <p class="description">A small blurb to do with advisory.</p>
                        <a href="#ob/services" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Meet our partners</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/orkinbrown/home/hilton.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Hilton Orkin</h4>
                                <h6 class="card-category">Partner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Lil' H.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/orkinbrown/home/tysie.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Tyson Orkin</h4>
                                <h6 class="card-category">Partner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        He will sniff out your tax return.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/orkinbrown/home/tappy.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Grant Brown</h4>
                                <h6 class="card-category">Partner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Howdy, partner!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="motto text-center">
                <a href="#ob/team" class="btn btn-outline-neutral btn-round"><i class="fa fa-users"></i>Meet the team</a>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <a href="#ob/team" class="btn btn-neutral btn-round"><i class="fa fa-users"></i>Meet the team</a>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">See some testimonials</h2>
                <h5 class="description">Don't take our word for it. Check out some customer testimonials. We are lekker.</h5>
                <br>
                <a href="#ob/testimonials" class="btn btn-info btn-round"><i class="fa fa-comments-o"></i>Testimonials</a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Get in touch</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us what you need..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-info btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
