<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/services/background-lake-rocks.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Services</h1>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Audit and Assurance</h2>
                    <!-- <h5 class="description">We provide comprehensive auditing services include meticulous financial statement audits, internal control evaluations, and risk assessment reviews, ensuring clients' financial processes are robust and compliant.</h5> -->
                    <ul class="description">
                        <li>Statutory Audits</li>
                        <li>Voluntary Audits</li>
                        <li>Independent Reviews</li>
                        <li>Attorney Trust Account Audits</li>
                        <li>Compliation of Annual Financial Statements</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Accounting</h2>
                    <!-- <h5 class="description">Our expertise encompasses fundamental services such as bookkeeping, payroll management, and tax preparation, ensuring meticulous financial records and compliance. Additionally, the practice provides strategic financial planning, forensic accounting, and business advisory services, offering clients a holistic approach to financial management and growth.</h5> -->
                    <ul class="description">
                        <li>Bookkeeping and Financial Record Maintenance</li>
                        <li>Payroll Administration Services</li>
                        <li>Monthly Management Accounts</li>
                        <li>VAT Compliance</li>
                        <li>Budget Preparation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Taxation</h2>
                    <!-- <h5 class="description">Our tax services include precise tax planning, compliance, and preparation, ensuring clients optimize their tax positions while remaining fully compliant with regulations. We also specialize in tax advisory services, helping clients navigate complex tax implications and strategize for long-term financial success. </h5> -->
                    <ul class="description">
                        <li>Corporate Tax Compliance</li>
                        <li>Personal Tax Compliance</li>
                        <li>Tax Planning and Advice</li>
                        <li>SARS Audtis</li>
                        <li>SARS Objections and Appeals</li>
                        <li>Statutory Registrations</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Secretarial</h2>
                    <!-- <h5 class="description">We offer strategic business planning, financial analysis, and risk management services, tailoring solutions to the unique challenges faced by our clients. Specific advisory services include business restructuring, investment analysis, and market expansion strategies, showcasing the our commitment to fostering sustainable growth for their clients.</h5> -->
                    <ul class="description">
                        <li>Company Formations</li>
                        <li>Company and Close Corporation Conversions</li>
                        <li>Ammendments to Directors, Shareholders and Members</li>
                        <li>Preparation of Minutes and Resolutions</li>
                        <li>Submission of CIPC Annual Returns</li>
                        <li>Registered office facility and maintenance of statutory records</li>
                        <li>Submission of beneficial owernship declarations for companies, close corporations and trusts</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Consulting and Advisory</h2>
                    <!-- <h5 class="description">Our practice delivers comprehensive review services designed to enhance financial transparency and decision-making for our clients. Our meticulous review services encompass financial statement reviews, internal control assessments, and risk evaluations, providing valuable insights to ensure accuracy and compliance. </h5> -->
                    <ul class="description">
                        <li>Business Valuations</li>
                        <li>Corporate Structuring</li>
                        <li>Business Advisory Services</li>
                        <li>Cash Flows, Projections and Budgeting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>

