<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/orkinbrown/jobs/background-jobs.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Positions Available</h1>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">We're currently hiring for the following positions</h2>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded job-card">
                        <h4>Role Title</h4>
                        <br/>
                        <p><b>3-5 years' experience</b></p>
                        <p><b>Office-based (not remote)</b></p>
                        <p>We are looking for an experienced, driven accountant, with the following skills:</p>
                        <ul>
                            <li>Standards of accounting - IRBA certified</li>
                            <li>Knowledge of regulatory standards</li>
                            <li>General business knowledge</li>
                            <li>Software proficiency</li>
                            <li>Data analysis</li>
                            <li>Attention to detail</li>
                            <li>Critical thinking</li>
                        </ul>
                        <p>We pay competitive rates.</p>
                        <br/>
                        <a href="#pkp" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded job-card">
                        <h4>Role Title</h4>
                        <br/>
                        <p><b>3-5 years' experience</b></p>
                        <p><b>Office-based (not remote)</b></p>
                        <p>We are looking for an experienced, driven accountant, with the following skills:</p>
                        <ul>
                            <li>Standards of accounting - IRBA certified</li>
                            <li>Knowledge of regulatory standards</li>
                            <li>General business knowledge</li>
                            <li>Software proficiency</li>
                            <li>Data analysis</li>
                            <li>Attention to detail</li>
                            <li>Critical thinking</li>
                        </ul>
                        <p>We pay competitive rates.</p>
                        <br/>
                        <a href="#pkp" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded job-card">
                        <h4>Role Title</h4>
                        <br/>
                        <p><b>3-5 years' experience</b></p>
                        <p><b>Office-based (not remote)</b></p>
                        <p>We are looking for an experienced, driven accountant, with the following skills:</p>
                        <ul>
                            <li>Standards of accounting - IRBA certified</li>
                            <li>Knowledge of regulatory standards</li>
                            <li>General business knowledge</li>
                            <li>Software proficiency</li>
                            <li>Data analysis</li>
                            <li>Attention to detail</li>
                            <li>Critical thinking</li>
                        </ul>
                        <p>We pay competitive rates.</p>
                        <br/>
                        <a href="#pkp" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
